.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock,
.markdown-source-view.mod-cm6 .cm-line:has(.cm-hmd-codeblock) {
    font-family: 'Consolas', 'Menlo', 'Courier New', monospace !important;
}

.cm-s-obsidian .cm-inline-code {
    font-family: 'Consolas', 'Menlo', 'Courier New', monospace !important;
    color: #FF6A6A !important;
    background-color: #383838;
    border-radius: 4px;
}
