.markdown-source-view pre code {
  tab-size: 2;
}
.markdown-source-view {
  tab-size: 2;
}
.markdown-preview-view .internal-embed img,
.markdown-preview-view .markdown-embed img,
.markdown-preview-view .excalidraw-embed {
  width: 100% !important;
}
